h1{
    text-align: justify;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.btn{
    color: blue;
}
body{
    background-color: beige;
}
.btn{
    background-color: beige;
}